.carousel {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    align-items: flex-start;
    top: 23%;
    width: 0;
}

.carousel-control-next {
    justify-content: end;
    right: -1.4rem;
}

.carousel-control-prev {
    justify-content: start;
    left: -1.4rem;
}

.carousel a .circle span {
    background-color: var(--dark-grey);
    color: white;
}

.carousel-inner .row {
    flex-wrap: nowrap;
    margin-left: 0;
}
