.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
    height: 4rem;
    min-width: 8rem;
    font-size: var(--medium-font);
    font-weight: var(--bold-weight);
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid var(--dark-grey);
}

.btn:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.btn.black:hover {
    background-color: black;
    color: white;
}

.btn.sm {
    min-width: 4rem;
    font-weight: var(--medium-weight);
}

.btn.black {
    background-color: var(--dark-grey);
    color: white;
}

.btn.lg {
    width: 100%;
}
.btn.purple {
    background-color: #a435f0;
    color: white;
    border: 0;
}

.btn.purple:hover {
    background-color: #8710d8;
}
